<!DOCTYPE html>
<html>
<head>
    <title>Add Blog</title>
</head>
<body>
    <h1>Add New Blog</h1>
    <form method="post" action="/create">
        <label>Title:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Content:</label><br>
        <textarea name="content" required></textarea><br><br>

        <label>Author:</label><br>
        <input type="text" name="author" required><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>